:root {
	--dark: #0a0a0a;
	--light: #dedfdf;
	--green: #0dc21c;
	--amber: #dfa805;
}

@media (prefers-color-scheme: light) {
	:root {
		--theme-bg-color: var(--light);
		--theme-color: var(--dark);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-bg-color: var(--dark);
		--theme-color: var(--light);
	}
}

body {
	background-color: var(--theme-bg-color);
	color: var(--theme-color);
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.container {
	margin: 0 15vw;
	font-family: sans-serif;
	font-size: 1.45rem;
	max-width: 1440px;
}

@media (max-width: 768px) {
	.container {
		margin: 0 5vw;
	}
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 2px solid var(--green);

	&:hover,
	&:focus {
		// color: var(--green);
		border-color: var(--amber);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}

.exp-item {
	padding: 1rem 0;
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--theme-bg-color);

	&::after {
		content: "";
		display: block;
		margin: 1rem 1px 0;
		height: 6rem;
		width: 2px;
		background-color: var(--theme-color);
	}

	&:last-child::after {
		display: none;
	}
}

.flashing {
	animation: flashing 1.25s step-start infinite;
}

@keyframes flashing {
	50% {
		opacity: 0;
	}
}
